{{ if .Site.Params.widgets.categories }}
{{ if isset .Site.Taxonomies "categories" }}
{{ if not (eq (len .Site.Taxonomies.categories) 0) }}
<div class="card sidebar-menu mb-3">

    <div class="card-header">
        <h3 class="card-title">Links</h3>
    </div>

    <div class="card-body">
        <ul class="nav nav-pills nav-stacked">
                      
            <!-- Broadcast Links -->
            {{ if or (eq .Section "broadcast") (and (.IsNode) (eq .Title "Broadcast")) (eq .Title "Broadcast Journalism at Eagleview") }}
            {{ range .Site.Params.broadcastlinks }}
            <li>
                <a href="{{ .url | absURL }}">{{ .name }}</a>
            </li>
            {{ end }}
            {{ end }}

            <!-- Photography Links -->
            {{ if or (eq .Section "photography") (and (.IsNode) (eq .Title "Photography")) (eq .Title "Photography") }}
            {{ range .Site.Params.photographylinks }}
            <li>
                <a href="{{ .url | absURL }}">{{ .name }}</a>
            </li>
            {{ end }}
            {{ end }}

            {{ range .Site.Params.links }}
            <li>
                <a href="{{ .url | absURL }}">{{ .name }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}
{{ end }}
{{ end }}