body { 
    padding-top: 65px; 
}

.blog-entry {
    min-height: 250px;
}

.tag-cloud {
    list-style: none;
    margin: 0px;
    padding:0px;
}

.social {
    font-size: 36px;
}

.social a {
    color: darkgreen;
}
