<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body>

  <div id="all">

    <header>

      {{ partial "header.html" . }}
      
    </header>
    <div id="content">
      <div class="container-fluid colored">
        <div class="container">

          <div class="row">

            <div class="col-md-12">
              {{ partial "front.html" . }}
            </div>
          </div>

        </div>

      </div>
    </div>


    {{ partial "footer.html" . }}

  </div>
  <!-- /#all -->



</body>
{{ partial "scripts.html" . }}

</html>