<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

                {{ partial "header.html" . }}

        </header>
        <div id="content">
            <div class="container">
                Single Template
                <div class="row">

                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-9">

                        Hi


                    </div>
                    <!-- /.col-md-9 -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN *** -->

                    <div class="col-md-3">

                        <!-- *** MENUS AND WIDGETS *** -->
                        {{ partial "sidebar.html" . }}


                        <!-- *** MENUS AND FILTERS END *** -->

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->



  </body>
  {{ partial "scripts.html" . }}
</html>
