<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>
        
        {{ partial "carousel.md" . }}

        {{ partial "features.md" . }}

        {{ partial "testimonials.md" . }}

        {{ partial "see_more.md" . }}

        {{ partial "recent_posts.md" . }}

        {{ partial "clients.md" . }}

        {{ partial "footer.md" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
