<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>
            {{ partial "header.html" . }}
        </header>
        {{ partial "title.html" . }}
        <div id="content">
            <div class="container">
                <div class="row">
                    <!-- *** LEFT COLUMN *** -->
                    <div class="col-md-9" id="blog-listing-medium">
                        {{ .Content }}
                        
                        {{ range .Paginator.Pages }}
                        <section class="post">
                            <div class="row">
                                
                                <div class="col-md-8">
                                    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                                    <div class="clearfix">
                                        <p class="author-category">
                                          {{ if isset .Params "author" }}
                                          By <a href="#">{{ .Params.author }}</a>
                                          {{ end }}
                                          {{ if isset .Params "categories" }}
                                          {{ if gt (len .Params.categories) 50 }}
                                          in <a href="{{ $.Site.BaseURL }}categories/{{ index .Params.categories 0 | urlize | lower }}">{{ index .Params.categories 0 }}</a>
                                          {{ end }}
                                          {{ end }}

                                        </p>
                                        
                                    </div>
                                    <p class="intro">{{ .Summary }}</p>
                                    <p class="read-more"><a href="{{ .Permalink }}" class="btn btn-template-main">Continue reading</a>
                                    </p>
                                </div>
                            </div>
                        </section>
                        {{ end }}
                        {{ if .Paginator.HasPrev }}
                        <div class="previous float-left">
                            <a href="{{ .Site.BaseURL }}{{ .Paginator.Prev.URL }}" class="badge badge-pill badge-secondary">&larr; Newer</a>
                        </div>
                        {{ end }} 
                        {{ if .Paginator.HasNext }}
                        <div class="next float-right">
                            <a href="{{ .Site.BaseURL }}{{ .Paginator.Next.URL }}" class="badge badge-pill badge-secondary">Older &rarr;</a>
                        </div>
                        {{ end }}
                        
                    </div>
                    <!-- /.col-md-9 -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN ***
       _________________________________________________________ -->

                    <div class="col-md-3">

                        <!-- *** MENUS AND WIDGETS *** -->

                        {{ partial "sidebar.html" . }}
                        <!-- *** MENUS AND FILTERS END *** -->

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

  </body>
  {{ partial "scripts.html" . }}
</html>
