<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

                {{ partial "header.html" . }}

        </header>
        {{ if ne .Title "Contact" }} 

        {{ partial "title.html" . }}

        {{ end }}

        <div id="content">
            <div class="container">
                Single Template
                <div class="row">

                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-9">

                        <p class="text-muted text-uppercase mb-small text-right">{{ if .Params.author }}By <a href="#">{{ .Params.author }}</a> | {{ end }}{{ if or (eq .Section "blog") (and (.IsNode) (eq .Data.Plural "tags")) (eq .Title "Blogs") }}{{ .Date.Format "January 2, 2006" }}{{ end }}</p>

                        <div id="post-content">
                          {{ if eq .Title "Contact" }} 
                          
                          {{ partial "contact.html" . }}

                          {{ else }}

                          {{ .Content }}

                          {{ end }}
                        </div>
                        <!-- /#post-content -->


                    </div>
                    <!-- /.col-md-9 -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN *** -->

                    <div class="col-md-3">

                        <!-- *** MENUS AND WIDGETS *** -->
                        {{ partial "sidebar.html" . }}


                        <!-- *** MENUS AND FILTERS END *** -->

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->



  </body>
  {{ partial "scripts.html" . }}
</html>
