<div class = "row">
    <div class="col-md-12 mt-2">
        <h3>Tutorials</h3>
    </div>
</div>
        <div class="big-square bg-div animated opentoonzlogo">
            <div class="square-content bg-overlay animated">
                <div class="table">
                    <div class="table-cell animated show-hover">
                        OpenToonz
                    </div>
                </div>
            </div>
        </div>
        <div class="square bg-div animated premierelogo">
            <div class="square-content bg-overlay animated">
                <div class="table">
                    <div class="table-cell animated show-hover">
                        Premiere Pro
                    </div>
                </div>
            </div>
        </div>
        <div class="square bg-div animated kritalogo">
            <div class="square-content bg-overlay animated">
                <div class="table">
                    <div class="table-cell animated show-hover">
                        Krita
                    </div>
                </div>
            </div>
        </div>
        <div class="square bg-div animated photoshoplogo">
            <div class="square-content bg-overlay animated">
                <div class="table">
                    <div class="table-cell animated show-hover">
                        <center>Photoshop</center>
                    </div>
                </div>
            </div>
        </div>

        <div class="square bg-div animated blenderlogo">
            <div class="square-content bg-overlay animated">
                <div class="table">
                    <div class="table-cell animated show-hover">
                        <center>Blender</center>
                    </div>
                </div>
            </div>
        </div>

        <div class="square bg-div animated unitylogo">
            <div class="square-content bg-overlay animated">
                <div class="table">
                    <div class="table-cell animated show-hover">
                        <center>Unity</center>
                    </div>
                </div>
            </div>
        </div>
        <div class="square bg-div animated blenderlogo">
            <div class="square-content bg-overlay animated">
                <div class="table">
                    <div class="table-cell animated show-hover">
                        <center>Blender</center>
                    </div>
                </div>
            </div>
        </div>


        <div class="square bg-div animated opentoonzlogo">
            <div class="square-content bg-overlay animated">
                <div class="table">
                    <div class="table-cell animated show-hover">
                        OpenToonz
                    </div>
                </div>
            </div>
        </div>
        <div class="square bg-div animated unitylogo">
            <div class="square-content bg-overlay animated">
                <div class="table">
                    <div class="table-cell animated show-hover">
                        <center>Unity</center>
                    </div>
                </div>
            </div>
        </div>
